In [70]:
import pandas as pd

fm = pd.read_json('dados.json')
# Passo 1: analisar o faturamento diário (realizar o tratamento dos dados se necessário)
fm = fm.drop([3, 4, 6, 10, 11, 17, 18, 24, 25]) # desconsiderando fins de semana e/ou feriados

print(fm)

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
5     6  26742.6612
7     8  42889.2258
8     9  46251.1740
9    10  11191.4722
12   13   3847.4823
13   14    373.7838
14   15   2659.7563
15   16  48924.2448
16   17  18419.2614
19   20  35240.1826
20   21  43829.1667
21   22  18235.6852
22   23   4355.0662
23   24  13327.1025
26   27  25681.8318
27   28   1718.1221
28   29  13220.4950
29   30   8414.6100

In [71]:
# Passo 2: buscar o maior e o menor valor de faturamento no mês(desconsiderando nulos)
print('O maior valor de vendas no mês foi R$ %.4f' %(fm.max(axis=0)['valor'])) # mostrar o ápice de 
                                                                               # vendas mensal
print('O menor valor de vendas no mês foi R$ %.4f' %(fm.min(axis=0)['valor'])) # mostrar a base de
                                                                               # vendas mensal
# Passo 3: calcular a média mensal (desconsiderando dias não trabalhados)
média = fm['valor'].mean()

# Passo 4: apontar o número de dias no mês em que o faturamento foi maior que a média mensal
fm[fm['valor'] >média]
#tabela apresentando apenas valores acima da média de vendas do mês

O maior valor de vendas no mês foi R$ 48924.2448
O menor valor de vendas no mês foi R$ 373.7838

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
5     6  26742.6612
7     8  42889.2258
8     9  46251.1740
15   16  48924.2448
19   20  35240.1826
20   21  43829.1667
26   27  25681.8318